@page "/students"
@using Web.Components
@using Core.Entities

<h1>Students</h1>

<DxComboBox Data="@SchoolList" TextFieldName="@nameof(School.Name)" @bind-SelectedItem="@SelectedSchool" NullText="Select School ..."></DxComboBox>

<LoadingSpinner DisplayLoadingSpinner="@Loading"></LoadingSpinner>

@if (StudentList.Any())
{
    <StudentDxGrid StudentList="@StudentList"></StudentDxGrid>
}

@* If an error occurs, show a friendly alert *@
<ErrorPopup ErrorMessage="@ErrorMessage" ShowError="@showError"></ErrorPopup>